table {
    width: auto;
	margin: 0 auto;
	border-collapse: separate;
	border-spacing: 1em;
}

td {
    padding: 0 1em;
    height: 4em;
    text-align: center;
}

.bordered {
   	outline: 1px dashed var(--color-light);
}

.thumbnail {
	width: 4em;
	height: 4em;
}

@media screen and (max-width: 720px) {
	
	table {
		width: 100%;	
	}

	td {
		padding: 0;	
	}
}
