table {
    width: auto;
	margin: 0 auto;
	border-collapse: separate;
	border-spacing: 10px;
	font-size: 25px;
}

td {
    padding: 0 20px;
    height: 100px;
    text-align: center;
}

.bordered {
   	outline: 1px dashed #fff;
}

.cart-thumbnail {
	width: 100px;
	height: 100px;
}
