footer { 
	width: 100%;
	padding-top: 0.5em;
    height: 3.5em;
	float: right;
	background-color: rgba(0, 0, 0, 0.63);	
}

footer p {
    position: relative;
	float: left;
	left: 0.5em;
	margin-top: 0.5em;
	font-size: 1em;
}

.sponsors {
    position: relative;
    float: right;
}

.sponsors img {
	height: 1.5em;
	margin: 0.5em;
}

.sponsors a {
	right: 0.5em;
}

@media screen and (max-width: 720px) {

	.main {
		min-height: 100%;	
	}

	footer p {
		left: 34%;
		margin: 0 auto;
		text-align: center;
	}

	.sponsors {
		width: 100%;
		text-align: center;
	}

	.sponsors img {
		float: none;
		display: inline-block;
		height: 1em;
		margin: 0.5em;
	}

	.sponsors a {
		display: block;	
	}

	.sponsors a img {
		height: 1.5em;
		margin: 0;
		margin-bottom: 0.5em;
	}
}
