footer { 
	width: 100%;
	padding-top: 0.5em;
    height: 3.5em;
	float: right;
	background: var(--color-dimmed);
}

footer p {
    position: relative;
	float: left;
	left: 0.5em;
	margin-top: 0.5em;
	font-size: 1em;
}

footer img {
	height: 1.5em;
	margin: 0.5em;
}

footer a {
	right: 0.5em;
    float: right;
}

.sponsors {
	position: relative;
    float: right;
}

@media screen and (max-width: 720px) {

	.main {
		min-height: 100%;	
	}

	.sponsors :not(.hidden) {
		display: block;
		width: 100%;
		text-align: center;
	}

	.sponsors img {
		display: inline-block;
		height: 1em;
		margin: 0.5em;
	}
}
