.item {
	position: relative;
	width: 23vw;
	height: 23vw;
	margin: 1vw;
	display: inline-block;
	cursor: pointer;
	text-align: center;
}

.item-image,
.item-overlay,
.hover {
	position: relative;
	width: 100%;
	height: 100%;
}

.item-overlay,
.hover {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    opacity: 0;
	-moz-transition: 500ms ease;
    -webkit-transition: 500ms ease;
    -ms-transition: 500ms ease;
    -o-transition: 500ms ease;
 	transition: 500ms ease;
}

.item-overlay {
	background-image: url("../img/instagram.png");
	background-position: center;
 	background-size: 25%;
  	background-repeat: no-repeat;
}

.hover {
	margin: 0;
	padding: 0;
}

.item a:hover,
.item-overlay:hover {
	opacity: 1;	
}

@media screen and (max-width: 720px) {	

	.padded {
		padding: 0;	
	}

	.item {
		margin: 0.5em 0;	
	}

	.item {
		width: 100vw;
		height: 100vw;
	}

	.hover {
		visibility: hidden;		
	}

	.item-overlay {
		background-position: right 4% bottom 4%;
 		background-size: 7%;
		background-repeat: no-repeat;
		opacity: 1;
	}
}
