header,
.status {
	position: fixed;
    width: 100%;
    height: 5em;
    z-index: 100;
    top: 0;
	margin: 0;
	padding: 0 1.5em;
}

header {
	background-color: transparent;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.scrolling {
	background-color: rgba(0, 0, 0, 0.63);
}

.status {
	text-align: center;
	top: 5em;
	height: auto;
}

.status-error {
	background: #e74c3c;
}

.status-success,
.status-order {
	background: #27ae60;
}

.status-order img {
	width: 200px;
	height: 200px;
	margin-bottom: 0.5em;	
}

.status-alert {
	background: #fff;
	color: #000;
}

.status p {
	padding-top: 0.5em;
	padding-bottom: 0.75em;
	font-size: 1em;
	margin: 0;
}

#nav {
    float: right;
}

#nav ul li a {
    display: block;
    margin: 1.75em;
    letter-spacing: 0.2em;
	text-transform: uppercase;
    border-bottom: 0;
    padding-bottom: 0;
}

#nav ul li {
    float: left;
    list-style: none;
}

#nav ul li .selected {
	padding-left: 10px;
	padding-right: 7px;
    border: 2px solid #fff;
}

#logo-small,
.tint {
    display: block;
    width: 4em;
    height: 4em;
 	margin: 0.5em auto;
 	float: left;
    position: absolute;
}

.header-icon {    
    height: 1em;
    margin-top: 0.25em; 
}

@media screen and (max-width: 720px) {
	
	header {
		padding: 0.5em;
		margin-bottom: 1em;
	}
	
	.status,
	#nav ul {
		opacity: 0;
		-moz-transition: 500ms ease-in-out;
    	-webkit-transition: 500ms ease-in-out;
    	-ms-transition: 500ms ease-in-out;
    	-o-transition: 500ms ease-in-out;
    	transform: perspective(0) rotate3d(0, 0, 0, 0);
    	-moz-transform: perspective(0) rotate3d(1, 0, 0, -90deg);
    	-ms-transform: perspective(0) rotate3d(0, 0, 0, 0);
    	-o-transform: perspective(0) rotate3d(0, 0, 0, 0);
    	-webkit-transform: perspective(0) rotate3d(1, 0, 0, -90deg);
    	transform-origin: 100% 0%;
    	-moz-transform-origin: 100% 0%;
    	-webkit-transform-origin: 100% 0%;
    	-ms-transform-origin: 100% 0%;
    	-o-transform-origin: 100% 0%;
	}

	.status.open,
	#nav.open ul {
    	opacity: 1;
    	-ms-transform: translateY(0px);
    	-o-transform: translateY(0px);
    	-moz-transform: translateY(0px);
    	-webkit-transform: translateY(0px);
	}

	#logo-small,
	.tint {
		width: 3em;
    	height: 3em;
		margin: 0.5em;
	}

	#nav {
		width: 100%;
   	 	top: 80px;
    	position: absolute;
    	right: 0;
	}

	#nav:before {
    	position: absolute;
    	display: block;
    	right: 15px;
    	top: -65px;
    	font-size: 30px;
    	color: #fff;
    	cursor: pointer;
    	content: '\2630';
	}

	#nav ul {
   	 	background-color: #fff;
    	width: 100%;
    	height: 0;
    	text-align: center;
    	margin: 0 auto;
		display: block;
    	overflow: hidden;
	}

	#nav.open ul {
		height: auto;
		opacity: 1;
	}

	#nav ul li {
    	float: none;
	}
	
	.header-icon {
		filter: brightness(75%);
		margin: 1em;
	}
	
	#nav ul li a {
    	line-height: 60px;
    	margin: 0;
    	color: #000;
    	z-index: 10;
    	height: auto;
    	transition: 500ms ease;
    	-moz-transition: 500ms ease;
    	-webkit-transition: 500ms ease;
    	-ms-transition: 500ms ease;
    	-o-transition: 500ms ease;
	}

	#nav ul li a:hover {
    	background-color: #000;
    	color: #fff;
		text-decoration: none !important;
    	opacity: 1;
	}

	#nav ul li .selected {
		padding: 0;
    	border: 0;
	}
}
