.main {
	margin-top: 0;
}

.padded {
	padding: 1em 3em;		
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
	position: relative;
  	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.bgimg-1 {
  	background-image: url("../img/home1.jpg");
  	min-height: 100%;
}

.bgimg-2 {
  	background-image: url("../img/home2.jpg");
  	min-height: 400px;
}

.bgimg-3 {
  	background-image: url("../img/home3.jpg");
  	min-height: 400px;
}

.caption {
  	position: absolute;
  	left: 0;
  	top: 40%;
  	width: 100%;
  	text-align: center;
  	color: #000;
}

.caption span {
  	color: #fff;
  	padding: 18px;
  	font-size: 30px;
  	letter-spacing: 10px;
}

.caption-main {
	transform: skew(0, -15deg) scale(1, 1.5);
    -webkit-transform: skew(0, -15deg) scale(1, 1.5);
    -moz-transform: skew(0, -15deg) scale(1, 1.5);
    -o-transform: skew(0, -15deg) scale(1, 1.5);
    -ms-transform: skew(0, -15deg) scale(1, 1.5);
}

.caption-main span {
    letter-spacing: -0.01em;
    font-family: Impact;
	font-size: 4em;
  	background: -webkit-linear-gradient(left, #b306a9, #ef2667, #f42e2c, #ffa509, #fdfc00, #55ac2f, #0b13fd, #a804af);
 	background: -o-linear-gradient(left, #b306a9, #ef2667, #f42e2c, #ffa509, #fdfc00, #55ac2f, #0b13fd, #a804af);
  	background: -moz-linear-gradient(left, #b306a9, #ef2667, #f42e2c, #ffa509, #fdfc00, #55ac2f, #0b13fd, #a804af);
  	background: linear-gradient(to right, #b306a9, #ef2667, #f42e2c, #ffa509, #fdfc00, #55ac2f, #0b13fd, #a804af); 
}
