.main {
	margin-top: 0;
}

.bgimg {
	position: relative;
	min-height: 100%;
	padding: 5em;		
  	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.bgimg-1 {
  	background-image: url("../img/home-1.jpg");
}

.bgimg-2 {
  	background-image: url("../img/home-2.jpg");
}

.bgimg-open {
  	background-image: url("../img/home-open.jpg");
}

.bgimg-close {
  	background-image: url("../img/home-close.jpg");
}

.scrolling {
	background-color: transparent;
	opacity: 0;
}

.centered {
  	position: absolute;
  	left: 0;
  	top: 40%;
  	width: 100%;
  	text-align: center;
}

.note {
  	position: absolute;
	top: 50%;
	width: 25%;
}

.note span {
  	color: #fff;
  	font-size: 30px;
  	letter-spacing: 10px;
}

.note p,
.note .button {
	float: left;	
	margin-top: 2em;
}

.caption-open,
.scroll-up {
	transform: skew(0, -15deg) scale(1, 2);
    -webkit-transform: skew(0, -15deg) scale(1, 2);
    -moz-transform: skew(0, -15deg) scale(1, 2);
    -o-transform: skew(0, -15deg) scale(1, 2);
    -ms-transform: skew(0, -15deg) scale(1, 2);
}

.caption-open span,
.scroll-up span {
	letter-spacing: -0.03em;
    font-family: Impact;
	font-size: 4em;
	padding: 0.35em;
  	background: -webkit-linear-gradient(left, #b306a9, #ef2667, #f42e2c, #ffa509, #fdfc00, #55ac2f, #0b13fd, #a804af);
 	background: -o-linear-gradient(left, #b306a9, #ef2667, #f42e2c, #ffa509, #fdfc00, #55ac2f, #0b13fd, #a804af);
  	background: -moz-linear-gradient(left, #b306a9, #ef2667, #f42e2c, #ffa509, #fdfc00, #55ac2f, #0b13fd, #a804af);
  	background: linear-gradient(to right, #b306a9, #ef2667, #f42e2c, #ffa509, #fdfc00, #55ac2f, #0b13fd, #a804af); 
}

.scroll-up span {
	background-clip: text;
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

@media screen and (max-width: 720px) {

	.bgimg {
		padding: 2em;		
		background-attachment: none;	
	} 

	.note {
		width: 50%;	
	}
}
