table {
	width: auto;
	margin: 0 auto;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 1em;
}

td {
    padding: 0 1.5em;
    height: 3em;
    text-align: center;
	border: 1px solid var(--color-light);
}

td > form,
td > input,
td > select,
td > textarea,
td > .button {
	margin: 1em auto;
}

td > textarea {
	max-height: 5em;
}

.red {
	background: #e74c3c;
}

.green {
	background: #27ae60;
}

.no-border {
	border: none; 
	padding: 0;
	margin: 0;
	padding-right: 1em;
}

.thumbnail {
	width: 4em;
	height: 4em;
}
