*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-image: url(../img/theme.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

body,
html {
    font-size: 100%;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    color: #fff;
}

#video-background {
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: 100%; 
    height: 100%;
    z-index: -100;
    object-fit: fill;
}

body {
    font-family: 'Oswald', sans-serif;
    background: rgba(0, 0, 0, 0.5);
}

#page {
    z-index: 10;
    position: relative;
    transition: all 1s ease 1s;
    -webkit-transition: all 1s ease 1s;
    -moz-transition: all 1s ease 1s;
    -o-transition: all 1s ease 1s;
}

p {
    margin-bottom: 34px;
    font-size: 17px;
    line-height: 26px;
    font-weight: 300;
    letter-spacing: 0.6px;
}

a {
    color: #fff;
    outline: none;
    text-decoration: none;
    transition: 500ms ease;
    -moz-transition: 500ms ease;
    -webkit-transition: 500ms ease;
    -ms-transition: 500ms ease;
    -o-transition: 500ms ease;
    border-bottom: 1px solid #fff;
    padding-bottom: 4px;
}

a:hover {
    opacity: 0.5;
}

.shake:hover {
    opacity: 1;
}

th, td {
    padding: 4px 20px 0 25px;
    height: 45px;
    text-align: left;
}

table {
    width: 100%;
    font-size: 17px;
    border-collapse: collapse; 
}

td:nth-of-type(even) {
    text-align: right;
    padding: 0 25px 0 20px;
    min-width: 90px;
}

td:nth-of-type(odd):hover {
    cursor: pointer;
    opacity: 0.5;
}

.bordered {
    outline: 1px dashed #fff;
}

header {
    width: 100%;
    height: 140px;
    line-height: 30px;
    padding: 0 80px;
    z-index: 100;
    top: 0;
}

#nav {
    float: right;
}

#nav ul li {
    float: left;
    list-style: none;
}

.product-big {
    display: inline-block;
    width: 100%;
    height: auto;
}

#nav ul li a {
    display: block;
    margin-left: 40px;
    margin-top: 50px;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 0px;
    padding-bottom: 0px;
}

.center {
    visibility: hidden;
    height: 50%;
    max-height: 50%;
    margin: 10% auto;
    text-align: center;
}

#logo-small, .tint-small {
    display: block;
    height: 90px;
    width: 90px;
    margin-top: 25px;
    float: left;
    position: absolute;
}

#logo-big, .tint-big {
    display: block;
    height: 50%;
    width: auto;
    float: left;
    position: absolute;
}

#tint {
  background-color: transparent;
  opacity: 0.25;
}

#power {
    height: 30px;
    position: relative;
    float: right;
    right: 20px;
    bottom: 10px;
}

footer {
    height: auto;
    width: 100%;
}

footer p {
    left: 20px;
    font-size: 15px;
    position: absolute;
}

header .instagram-header-icon {
    height: 20px;
    margin-top: 5px;
}

#nav ul li .selected {
    border-bottom: 1px solid #fff;
}

.product-zoomer {
    width: 50%;
}

.zoom-item {
    position: relative;
    float: left;
}

.zoom-item > img {
    transform: translateZ(0); 
    -webkit-transition: 0.5s transform;
    -moz-transition: 0.5s transform;
    -ms-transition: 0.5s transform;
    -o-transition: 0.5s transform;
    transition: 0.5s transform;
}

.zoom-item:hover,
.zoom-item:active {
    z-index: 1;
}

.zoom-item:hover > img,
.zoom-item:active > img {
    transform: scale(2, 2);
    -webkit-transition: 0.5s transform;
    -moz-transition: 0.5s transform;
    -ms-transition: 0.5s transform;
    -o-transition: 0.5s transform;
    transition: 0.5s transform;
}

.main {
    min-height: 100%;
    margin: 70px auto;
    width: 700px;
    text-align: justify;
}

.container {
    margin: 0 auto;
    text-align: center;
}

.buttons {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.buttons .button {
    float: right;
    margin: 20px 10px;
}

.buttons .button:first-of-type {
    float: right;
    margin-right: 0;
    color: #000;
    background-color: #fff;
}

.buttons .button:first-of-type:hover {
    float: right;
    margin-right: 0;
    color: #fff;
    background-color: transparent;
}

.price {
    font-size: 25px;
}

.product-options {
    width: 50%;
    height: auto;
    float: right;
    text-align: center;
    padding: 0 50px; 
}

.img-desc {
    margin: 0; 
    margin-top: 10px;  
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.example-image {
    width: 150px;
    height: 150px;
}

.shop-item,
.example-image-holder {
    margin: 0;
    margin: 10px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 20px;
}

.shop-item,
.example-image-holder:nth-of-type(4n+0) {
    margin-right: 0px;
}

input,
textarea,
select {
    background-color: transparent;
    width: 100%;
    max-width: 100%;
    border: 1px solid #fff;
    height: 35px;
    margin-bottom: 20px;
    padding-left: 14px;
    font-size: 15px;
    border-radius: 1px;
    font-weight: 300;
    letter-spacing: 0.6px;
    transition: 500ms ease;
    -moz-transition: 500ms ease;
    -webkit-transition: 500ms ease;
    -ms-transition: 500ms ease;
    -o-transition: 500ms ease;
}

::-webkit-input-placeholder { 
    color: #fff;
}
:-moz-placeholder { 
    color: #fff;
}
::-moz-placeholder { 
   color: #fff;
   opacity:  1;
}
:-ms-input-placeholder {}
   color: #fff;
}
::-ms-input-placeholder { 
   color: #fff;
}

input:active,
textarea:active,
input:focus,
textarea:focus,
select:active,
select:focus {
    border: 1px dashed;
    outline: none;;
    transition: 500ms ease;
    -moz-transition: 500ms ease;
    -webkit-transition: 500ms ease;
    -ms-transition: 500ms ease;
    -o-transition: 500ms ease;
}

textarea {
    height: 70px;
    padding: 10px 0 0 14px;
    transition: 500ms ease;
    -moz-transition: 500ms ease;
    -webkit-transition: 500ms ease;
    -ms-transition: 500ms ease;
    -o-transition: 500ms ease;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}

textarea:focus {
    height: 140px;
    transition: 500ms ease;
    -moz-transition: 500ms ease;
    -webkit-transition: 500ms ease;
    -ms-transition: 500ms ease;
    -o-transition: 500ms ease;
}

.button {
    text-align: center;
    display: block;
    width: 160px;
    padding-left: 0;
    margin: 0 auto;
    border: 1px solid #fff;
    height: 40px;
    line-height: 36px;
    transition: 500ms ease;
    -moz-transition: 500ms ease;
    -webkit-transition: 500ms ease;
    -ms-transition: 500ms ease;
    -o-transition: 500ms ease;
}

.button:hover {
    opacity: 1;
    border: 1px solid #fff;
    color: #000;
    background-color: #fff;
    cursor: pointer;
    transition: 500ms ease;
    -moz-transition: 500ms ease;
    -webkit-transition: 500ms ease;
    -ms-transition: 500ms ease;
    -o-transition: 500ms ease;
}

input, 
textarea,
select {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    color: #fff;
    opacity: 1;
}

.button {
    margin: 20px auto;
}

@media screen and (max-width: 720px) {
    .product-zoomer {
        width: 100%;
    }
    
    .product-options {
        width: 100%;
        height: auto;
        text-align: center;
        padding: 0 50px; 
    }
    
    header {
        padding-left: 30px;
    }
    #nav {
        width: 100%;
        top: 132px;
        position: absolute;
        right: 0;
    }
    #nav:before {
        display: block;
        position: absolute;
        right: 30px;
        top: -82px;
        line-height: 27px;
        font-size: 20px;
        cursor: pointer;
    }
    #nav ul {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    #nav ul li {
        float: none;
    }
    #nav ul li a {
        line-height: 60px;
        margin: 0;
        z-index: 10;
        height: 60px;
        transition: 500ms ease;
        -moz-transition: 500ms ease;
        -webkit-transition: 500ms ease;
        -ms-transition: 500ms ease;
        -o-transition: 500ms ease;
    }
    #nav ul li a:last-of-type {}
    #nav ul li a:hover {
        text-decoration: none;
        opacity: 1;
    }
    #nav ul {
        display: block;
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: 500ms ease-in-out;
        -moz-transition: 500ms ease-in-out;
        -webkit-transition: 500ms ease-in-out;
        -ms-transition: 500ms ease-in-out;
        -o-transition: 500ms ease-in-out;
        transform: perspective(0) rotate3d(0, 0, 0, 0);
        -moz-transform: perspective(0) rotate3d(1, 0, 0, -90deg);
        -ms-transform: perspective(0) rotate3d(0, 0, 0, 0);
        -o-transform: perspective(0) rotate3d(0, 0, 0, 0);
        -webkit-transform: perspective(0) rotate3d(1, 0, 0, -90deg);
        transform-origin: 100% 0%;
        -moz-transform-origin: 100% 0%;
        -webkit-transform-origin: 100% 0%;
        -ms-transform-origin: 100% 0%;
        -o-transform-origin: 100% 0%;
    }
    #nav ul li .selected {
        border-bottom: 0px;
    }
    .hero-image-home,
    .hero-image-menu,
    .hero-image-gallery,
    .hero-image-contact {
        height: 300px;
    }
    .main {
        width: auto;
    }
    .example-image {
        width: 100%;
        height: auto;
    }
    .shop-item,
    .example-image-holder,
    .example-image-holder:nth-of-type(4n+0) {
        width: 48%;
        height: auto;
        margin-bottom: 20px;
        margin-right: 4%;
        border-bottom: 0;
        padding-bottom: 0;
    }
    .shop-item,
    .example-image-holder:nth-of-type(even) {
        margin-right: 0px;
    }
}